# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Python
*.pyc

# Vim
*.swp

# RedBot2015Autumn
playfield-*.txt
examples/*.txt
